altair==5.3.0
annoy==1.17.3
beautifulsoup4==4.12.3
ipykernel==6.29.4
nltk==3.8.1
openai==1.35.3
openpyxl==3.1.5
Pillow==10.3.0
PyMuPDF==1.24.4
pytesseract==0.3.10
scikit-learn==1.4.2
sentence-transformers==2.7.0
spacy==3.7.4
umap-learn==0.5.6
wordcloud==1.9.3
pandas==2.2.2
selenium==4.21.0
python-dotenv==1.0.1
numpy==1.26.4
matplotlib==3.8.4
huggingface_hub==0.23.3

# spaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl